@font-face {
  font-family: "Sancreek";
  src: url(../fonts/Sancreek/Sancreek-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-ExtraLightItalic.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-Medium.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
  font-weight: 200;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to top, #3C6255, #61876E);
}
header nav {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .navbar__logo {
  color: #fff;
  font-family: "Sancreek";
  font-size: 48px;
}
@media screen and (max-width: 520px) {
  header nav .navbar__logo {
    font-size: 24px;
  }
}
header nav .collapse {
  display: flex;
  justify-content: flex-end;
}
header nav .collapse .navbar__links a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
header nav .collapse .navbar__links a:hover {
  color: #A6BB8D;
}

main .main__imagen-principal img {
  width: 100%;
}

.mas-vendidos {
  width: 100%;
  margin-top: 60px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mas-vendidos h2 {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 300;
  color: #3d3d3d;
}
.mas-vendidos .mas-vendidos__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 48px 0 48px 0;
}
.mas-vendidos .mas-vendidos__cards-container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 80%;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 2px 2px 2px 1px #ccc;
}
.mas-vendidos .mas-vendidos__cards-container__card:hover {
  transform: scale(1.15);
  transition: 0.3s;
}
.mas-vendidos .mas-vendidos__cards-container__card img {
  width: 75%;
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mas-vendidos .mas-vendidos__cards-container__card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #3C6255;
}
.mas-vendidos .mas-vendidos__cards-container__card h4 {
  font-size: 20px;
  font-weight: 300;
  color: #61876E;
}
.mas-vendidos .mas-vendidos__cards-container__card h5 {
  font-size: 16px;
  color: #3C6255;
}
.mas-vendidos .mas-vendidos__cards-container__card p {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
@media screen and (max-width: 520px) {
  .mas-vendidos .mas-vendidos__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mas-vendidos .mas-vendidos__cards-container__card {
    width: 80%;
    margin-bottom: 24px;
  }
}

.pw-tips {
  margin-top: 60px;
}
.pw-tips h2 {
  margin-top: 40px;
  font-size: 32px;
  font-weight: 300;
  color: #3d3d3d;
}
.pw-tips .pw-tips__video-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 520px) {
  .pw-tips .pw-tips__video-container h3 {
    text-align: center;
    padding-left: 0;
    margin-top: 24px;
  }
  .pw-tips .pw-tips__video-container .pw-tips__video-container iframe {
    width: 303px;
    height: 200px;
    padding-bottom: 24px;
  }
}

.footer {
  margin-top: 60px;
  padding: 36px 0 36px 0;
  width: 100%;
  background-color: #3C6255;
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .footer {
    flex-direction: column;
  }
}
.footer__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #61876E;
}
@media screen and (max-width: 520px) {
  .footer__item {
    border-right: none;
    border-bottom: 2px solid #61876E;
    width: 80%;
    margin-bottom: 24px;
  }
}
.footer__redes {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .footer__redes {
    width: 80%;
  }
}
.footer__redes__icons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}/*# sourceMappingURL=style.css.map */