@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-ExtraLightItalic.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-Regular.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost/static/Jost-Medium.ttf);
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, .h1,
.h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.price {
  font-size: 24px;
  font-weight: 700;
  color: #198133;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
  font-weight: 200;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(to top, #3C6255, #61876E);
  border-bottom: 1px solid #2e4a40;
}
.header__navbar {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.header__navbar__logo {
  color: #fff;
  font-family: "Eczar";
  font-size: 2rem;
}
@media screen and (max-width: 991px) {
  .header__navbar__logo {
    font-size: 24px;
  }
}
.header__navbar__links {
  display: flex;
  justify-content: flex-end;
}
.header__navbar__links__links-container {
  display: flex;
  justify-content: space-around;
  width: 440px;
}
@media screen and (max-width: 991px) {
  .header__navbar__links__links-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}
.header__navbar__links__links-container a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.header__navbar__links__links-container a:hover {
  color: #A6BB8D;
}

.navbar-toggler {
  border: none;
  font-size: 24px;
}
.navbar-toggler:hover {
  border: none;
  box-shadow: none;
}

main .main__imagen-principal img {
  width: 100%;
}

.card-section {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-section h2 {
  margin-top: 48px;
  font-size: 32px;
  font-weight: 300;
  color: #3d3d3d;
}
.card-section h2 {
  text-align: center;
}
.card-section__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 48px 0 48px 0;
}
.card-section__cards-container__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
}
.card-section__cards-container__card:hover {
  transform: scale(1.15);
  transition: 0.3s;
}
.card-section__cards-container__card img {
  width: 75%;
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.card-section__cards-container__card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #3C6255;
  margin-bottom: 4px;
}
.card-section__cards-container__card h4 {
  font-size: 20px;
  font-weight: 300;
  color: #61876E;
  margin-bottom: 4px;
}
.card-section__cards-container__card h5 {
  font-size: 16px;
  color: #3C6255;
  margin-bottom: 12px;
}
@media screen and (max-width: 991px) {
  .card-section__cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-section__cards-container__card {
    width: 80%;
    margin-bottom: 24px;
  }
}

.pw-tips {
  margin-top: 60px;
}
.pw-tips h2 {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 300;
  color: #3d3d3d;
}
.pw-tips .pw-tips__video-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .pw-tips .pw-tips__video-container h3 {
    text-align: center;
    padding-left: 0;
    margin-top: 24px;
  }
  .pw-tips .pw-tips__video-container .pw-tips__video-container iframe {
    width: 303px;
    height: 200px;
    padding-bottom: 24px;
  }
}

.footer {
  margin-top: 60px;
  padding: 36px 0 36px 0;
  width: 100%;
  background-color: #3C6255;
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .footer {
    flex-direction: column;
  }
}
.footer__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #61876E;
}
@media screen and (max-width: 991px) {
  .footer__item {
    border-right: none;
    border-bottom: 2px solid #61876E;
    width: 80%;
    margin-bottom: 24px;
  }
}
.footer__redes {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .footer__redes {
    width: 80%;
  }
}
.footer__redes__icons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer__redes__icons svg:hover {
  color: #A6BB8D;
  cursor: pointer;
}

/* VINOS -----> */
.main__vinos h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 40px;
  background-color: #fff;
  width: 100%;
}

.card-section h2 {
  width: 100%;
  background-color: #f0f0f0;
}

/* ACCESORIOS -----> */
.main-accesorios h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 40px;
  background-color: #fff;
  width: 100%;
}

.main-accesorios__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
  margin: 60px 0 60px 0;
  border-radius: 8px;
  border: 2px solid #ccc;
}
.main-accesorios__line img {
  width: 360px;
}
.main-accesorios__line__description {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 12px;
}
.main-accesorios__line__description h4 {
  font-size: 12px;
}
.main-accesorios__line__description li {
  list-style: none;
}

/* PROMOCIONES -----> */
.main__promociones h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 40px;
  background-color: #fff;
  width: 100%;
}

/* ENCARGOS -----> */
.main__encargos h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 40px;
  background-color: #fff;
  width: 100%;
}

.form-section {
  background-color: #f0f0f0;
  padding: 40px 0 40px 0;
}

.main__encargos__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__encargos__form label {
  font-weight: 400;
}
.main__encargos__form select, .main__encargos__form input, .main__encargos__form textarea {
  margin-bottom: 16px;
  border-radius: 8px;
}
.main__encargos__form__send-button input {
  width: 50%;
  height: 100%;
  background-color: #61876E;
  color: #fff;
  border: none;
}
.main__encargos__form__send-button input:hover {
  background-color: #3C6255;
}
.main__encargos__form-img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  filter: blur(1px);
}/*# sourceMappingURL=style.css.map */